@using EntityLayer.Concrete;
@model List<Category>
@{
    //Layout = null;
}
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th>Açıklama</th>
            <th>Durumu</th>
            <th>Sil</th>
        </tr>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>@category.CategoryDescription</td>
                <td>@category.CategoryStatus</td>
                <td><a class="btn btn-danger" asp-controller="Category" asp-action="Delete">Sil</a></td>
            </tr>
        }
    </table>